<div class="credits">
    <p>
        <b>Copyright</b><br/>
        This project uses the open source <b>Final Space API</b> under the <a href="https://github.com/lelouchB/final-space-api/blob/main/LICENSE" target="_blank">BSD license</a>. Their full Copyright statement can be found <a href="https://finalspaceapi.com/docs/about/#copyright" target="_blank">here</a>. I do not own the rights to any material provided in this project.
    </p>
</div>

